/*shared style start*/

html *
{
   font-family: 'Roboto', Arial !important;
}

body {
    margin: 0px;
    padding: 0px;
    min-width: 400px;
}

.header,
.info-section,
.quote-section,
.sign-up-section,
.footer {
    min-width: 1240px;
    padding: 0px 20%;
}

.header,
.footer {
    background-color: #2b570f;
}

.logo {
    font-size: 36px;
    font-weight: 600;
    color: #F9FAF8;
    flex-shrink: 0;
}

.hero-main-text {
    font-size: 48px ;
    font-weight: 800;
    color: #F9FAF8;
}

a,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.call,
.click,
.copyright {
    color: #E5E7EB; 
}

.call {
    font-size: 18px;  
    font-weight: 800;
}

button,
.sign-up-container {
    background-color: #612116;
}

.info-section {
    background-image: linear-gradient(#2b570f, #556b17);
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #E5E7EB;;
}

.quote-section {
    background-image: linear-gradient(#556b17, #6a6b17);
}

.sign-up-section {
    background-image: linear-gradient(#6a6b17, #6b5c17);
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 18px;
    font-weight: 600;
}

button {
    width: 120px;
    height: 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
}

/*shared style end*/

/*header style start*/

.logo-left  {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    flex-shrink: 0;

}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0px 8px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

.header-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 80px;
    padding-top: 30px;
}

.header-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
}

.hero-text {
    width: 440px;
    flex: 0 0 auto;
}

.hero-main-text {
    margin-bottom: 12px;
}

.hero-secondary-text {
    margin-bottom: 12px;
}

/*header style end*/

/*info section style start*/

.info-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    height: 300px;
}

.information-header {
    text-align: center;
    padding: 40px 0px;
}

.info {
    max-width: 150px;
    text-align: center;
    color: #E5E7EB;
}

.info-image {
    border: 2px solid #1F2937;
    border-radius: 12px;
    width: 140px;
    height: 140px;
    margin: 0px auto 12px;
}

/*info section style end*/

/*quote section style start*/

.quote-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 400px;
    text-align: start;
    padding-bottom: 20px;
}

.author {
    width: 400px;
    text-align: end;
}

/*quote section style end*/

/*sign-up section style start*/

.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.sign-up-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 100px;
    border-radius: 8px;
    padding: 80px auto;
    min-width: 800px;
}

.sign-up-section button {
    border-color: white;
}

/*sign-up section style end*/

/*footer section style start*/

.footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer section style end*/